:root {
  --main: #F0F1F2;
  --secondary: #04BFBF;
  --primary: #0273739a;
  --section-bg: #BF8173;
}

.dark {
  background-color: var(--primary) !important;
}

nav span.bg-danger {
    position: absolute;
    display: block;
    width: 20px;
    top: -5px;
    left: 20px;
    height: 20px;
    font-size: 15px;
    padding: 0;
    text-align: center;
    border-radius: 50%;

}

.primary {
  background-color: var(--primary) !important;
  color: var(--main) !important;
}

.secondary {
  background-color: var(--secondary) ;
  color: var(--main);
}

.section-bg {
  background-color: var(--section-bg);
  color: var(--main);
}

a.active {
  text-decoration: underline;
  color: var(--secondary) !important;
}

.mirror {
  transform: rotate(180deg);
  /*transform: scaleX(-1); */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.rating svg{
  color: var(--secondary) !important;
}

.sec-border {
  border: 2px solid var(--secondary) !important;
  border-radius: 5px;
}

img {
  border-radius: 4px;
}

.product-img {
  width: 30%;
  object-fit:cover; 
}

.product-main-img{
  max-height: 60vh;
  object-fit: cover;
}

#cart tr img{
  max-height: 150px;
  object-fit: cover;
  padding: 5px;
}